<h1>Survey: <%= @survey.name %></h1>
<h2>Questions:</h2>
<% if @questions.count == 0 %>
  <p>This survey needs questions!!!</p>
<% else %>
  <ol>
    <% @questions.each do |question| %>
      <% if question.id %>
        <li><%= question.question %>?</li>
      <% end %>
    <% end %>
  </ol>
<% end %>

<h2>Add a Question:</h2>
<% flash.each do |type, message| %>
  <div><%= message %></div>
<% end %>
<% @question.errors.full_messages.each do |message| %>
  <div><%= message %></div>
<% end %>
<%= form_with(model: [@survey, @question]) do |f| %>
  <div><%= f.label :question %></div>
  <div><%= f.text_field :question %></div>
  <div><%= f.submit %></div>
<% end %>


