<div class='space-y-8'>
  <h1 class='block text-5xl'>Survey: <%= @survey.name %></h1>
  <% if !@survey.has_questions? %>
    <p class='block text-2xl'>This survey needs questions!!!</p>

  <% else %>
    <%= form_with model: @submission, url: survey_submissions_path(@survey) do |submission_form| %>
        <div class='space-y-4'>
          <%= submission_form.fields_for :answers, @submission.answers do |answer_form| %>
            <div class='block text-xl'><%= answer_form.hidden_field(:question_id) %></div>
            <div class='block text-xl'><%= answer_form.label :question, answer_form.object.question.question %>?</div>
            <div class='block text-3xl'><%= answer_form.text_field(:answer, class: 'border-b-2') %></div>
          <% end %>

          <% if @submission.errors.any? %>
            <ul>
              <% @submission.errors.each do |error| %>
                <li class='text-red-500'><%= error.full_message %></li>
              <% end %>
            </ul>
          <% end %>
          <div><%= submission_form.submit('Submit', { class: 'bg-indigo-500 rounded-full py-3 px-6' }) %></div>
        </div>

    <% end %>
  <% end %>

</div>


