<h1 class='block text-5xl'>Let's Create a New Survey</h1>
<% if @survey.errors.any? %>
  <ul>
    <% @survey.errors.each do |error| %>
      <li>
        <%= error.full_message %>
      </li>
    <% end %>
  </ul>
<% end %>
<%= form_for @survey do | f | %>
  <div class='space-y-4'>
    <div class='block'><%= f.label :name %></div>
    <div class='block'><%= f.text_field(:name, class: 'border-b-2') %></div>
    <div class='block'><%= f.submit %></div>
  </div>
<% end %>
